{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Exago - Google Query Processing Demo</title>
  <link href="{% static "img/favicon.ico"%}" rel="shortcut icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "css/main.css"%}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
</head>
<body>
  <div class="jumbotron text-center">
    <h1>Exago - Google Query Processing Demo</h1>
    <p>Natural Language to Sql Queries</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <button id="start_button" onmousedown="startButton(event)" class="button-transperent" onmouseup="startButton(event)"></button>
        <br><br><br><br>
        <div class="change-text">
        </div>
      </div>
      <div class="col-sm-6">
        <h2>
          <select>
            <option value="0">Select</option>
            <option value="How much tofu did Davolio sell in 2014?">How much tofu did Davolio sell in 2014?</option>
            <option value="How many employees are over 40?">How many employees are over 40?</option>
            <option value="What city does King live in?">What city does King live in?</option>
            <option value="What is the largest unit price for a beverage?">What is the largest unit price for a beverage?</option>
            <option value="Which beverage has the highest unit price?">Which beverage has the highest unit price?</option>
          </select>
        </h2>
          <h2>
            <span id="final_span" class="final"></span>
            <span id="temp_span" class="temp"></span>
          </h2>
        <div class="output-value">
      </div>
        <div class="output-text">
        </div>
    </div>
    </div>
  </div>
  <script>
  var mic = "{% static "img/mic-128.png"%}"
  var mic_animate = "{% static "img/mic-128.png"%}"
  var csrftoken = '{{ csrf_token }}';
  $(function() {
    $('select').change(function() {
    final_span.innerHTML = '';
    temp_span.innerHTML = '';
      if (this.value != 0) {
        $.ajax({
          url : "test/",
          type : "POST",
          data : { 'csrfmiddlewaretoken':csrftoken,'speech_text' : this.value, 'submit' : 'Process Text' },
          success : function(json) {
            $(".change-text").html("");
            // var msg = new SpeechSynthesisUtterance('Please see the Query Output from Google Natural Language Processing as below');
            // window.speechSynthesis.speak(msg);
            var output = "<h2>Query Output</h2>"
            if (json.ret_text.length != 0) {
              output += "<h4><ul>";
              for (var i = 0; i < json["ret_text"].length; i++) {
                output += "<li><ul><h3>" + json["ret_text"][i]["text"]+"</h3>";
                output += "<li>Text: " + json["ret_text"][i]["text"] + "</li>";
                output += "<li>Part of Speech: " + JSON.stringify(json["ret_text"][i]["partOfSpeech"]) + "</li>";
                output += "<li>Dependency Edge: " + JSON.stringify(json["ret_text"][i]["dependencyEdge"]) + "</li>";
                output += "<li>Lemma: " + json["ret_text"][i]["lemma"] + "</li>";
                output += "</ul></li>";
              }
              output += "</ul><h4>";
            }
            else {
              var msg = new SpeechSynthesisUtterance('No results found');
              window.speechSynthesis.speak(msg);
              output +="<h3>No results found.</h3>"
            }
            $(".output-text").html(output);
            $(".output-value").html("<h3>Final Output: "+json["output_value"]+"</h3>");
            console.log("success");
          },
          error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText);
          }
        });

      }
      });
  });
  </script>
  <script src="{% static "js/main00.js"%}"></script>
  </body>
  </html>
